# Unity 생성 폴더
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]serSettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# IDE
/.vs/
/.idea/
/.vscode/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.userprefs

# OS
.DS_Store
Thumbs.db

# 크래시 리포트
sysinfo.txt
*.stackdump
crashlytics-build.properties

# 개발 캡처
/Captures/
